
  /**************     Body of the page  ****************/

  body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    }
  
  /**************     Header Section for the menu   ****************/

  .container {

    margin: auto;
    width: 1600px;

  }
  
  header {

    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 30px;
    width: 1600px;

  }

  .menu {

    display: -webkit-box;
    display: flex;
  }

  .websiteLogo {

    cursor: pointer;
  }
  
  header ul {

    display: -webkit-box;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    font-weight: bold;
    color: #0065fc;
  }
  
  header a:hover {

    border-top: 2px solid #0065fc;
    padding-top: 40px;
    color: #0065fc;

  }
  
  header ul li {

    margin-left: 45px;

  }
  
  a {

    text-decoration: none;
    color: black;

  }
  
  .signup {

    padding-left: 45px;

  }
  
  .signup a {

    font-weight: bold;
    color: #0065fc;
    margin-right: 0%;

  }
  
  .signup a:hover {

    border-top: 2px solid #0065fc;
    padding-top: 40px;

  }

    /**************     Section for the search and the filters    ****************/

  
  .researchDescription {

    margin-top: -13px;
    margin-bottom: 30px;
  }

  .researchCity {

    font-weight: bold;
    color: rgb(0, 0, 0);
    height: 41px;
    margin-left: 5px;
    padding-right: 10px;
    border: 1px solid #f2f2f2;

  }
      
  .searchBar {

    display: -webkit-box;
    /*display: -ms-flexbox;*/
    display: flex;
    border-radius: 16px;   

  }

  .button,#icon2 {

    display: none;
  }
      
  .searchBar::-webkit-input-placeholder {
       
    margin: 10px;
     
  }
      
  .searchBar::-moz-placeholder {
    margin: 10px;
  }
  
  .searchBar:-ms-input-placeholder {
    margin: 10px;
  }
  
  .searchBar::-ms-input-placeholder {
    margin: 10px;
  }
  
  .searchBar::placeholder {
    margin: 10px;
  }
  
  .researchButton{

    background-color: #0065fc;
    height: 41px;
    border-radius: 0 12px 12px 0;
    color: white;
    border-width: 0ch;
    width: 100px;

  }
  
  #map {

    background-color: #f2f2f2;
    height: 41px;
    width: 45px;
    border-radius: 16px 0 0 16px;
    display: -webkit-box;
    /*display: -ms-flexbox;*/
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
   

  }
     
     
      /******************  Filter Options  **********************/
      
.filterOptions {
       
        display: -webkit-box;
        /*display: -ms-flexbox;*/
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 20px;
        
      }
      
.filterOptions button {

        margin-left: 20px;
        background-color: white;
        height: 43px;
        width: auto;
        cursor: pointer;
        display: -webkit-box;
        /*display: -ms-flexbox;*/
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-left: 15px;
        border: 2px solid #f2f2f2;
        border-radius: 25px;
        font-size: 15px;
        font-weight: bold;
        margin-left: 40px;
       

      }
      
.filterOptions button::before {

        font-family: "Font Awesome 5 Free";
        font-weight: bold;
        background-color: #deebff;
        display: -webkit-box;
       /*display: -ms-flexbox;*/
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: 50%;
        margin-left: -20px;
        margin-right: 10px;
        height: 43px;
        width: 43px;
        

      }
      
.filterOptions button:hover {

        background-color: #0065fc;
        color: #ffffff;
      }
      
button.economic::before {

        content: "\f53a";
        color: #0065fc;
      }
      
button.Familiar::before {

        content: "\f1ae";
        color: #0065fc;
      }
      
button.Romantic::before {

        content: "\f004";
        color: #0065fc;
      }
      
button.authorisedAnimal::before {

        content: "\f6d3";
        color: #0065fc;
      }
      
.filtresText {

        height: 10px;
        display: -webkit-box;
        /*display: -ms-flexbox;*/
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-weight: bold;
        color: black;
        font-size: 18px;
      }
      
      /*****************************   Search Result Announce  *************************************/

      
  .searchInfo {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
      
  .searchInfo em {

        border-radius: 30px;
        background-color: white;
        color: #0065fc;
        border: 1px solid #f2f2f2;
        border-width: 1px;
        height: 30px;
        width: 30px;
        font-size: 15px;
        margin-right: -5px;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        
      }
      
  .searchInfo .searchResult {

        padding: 30px;

      }
    
/************** Section for the Hébergement à Marseille *****************/

  main {

        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        
      }

  .availableAccommodation {

        background-color: #f2f2f2;
        width: 70%;
        height: auto; 

        border-radius: 25px;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding-left: 33px;
        padding-right: 39px;
        padding-bottom: 0px;
        padding-top: 0px;
      }

     
      
  .availableAccommodation h2 {

        margin-left: 25px;
        margin-bottom: 0px;
        padding-top: 45px;
        width: 100%;

      }

  .hotelInfo {

        width: 29%;
        height: 255px;
        background-color: white;
        border-radius: 25px;
        margin-left: 30px;
        margin-right: 5px;
        padding-top: 10px;
        margin-top: 20px;
        margin-bottom: 0px;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        -webkit-box-shadow: 1px 1px 25px rgb(214, 213, 213);
        box-shadow: 1px 1px 25px rgb(214, 213, 213);
        align-items:center;
      }

  .availableAccommodation img {

        padding-left: 5px;
        margin-bottom: 10px;
        margin-top: -5px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: 25px 25px 0 0;
        width: 97%;
        height: 135px;
        object-fit: cover;

      }

  .hotelInfo:hover {

        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);

      }

  .hotelName {

        font-weight: bold;
        text-decoration: none;
        color: black;
        margin-left: 20px;
        margin-top: 0px;

      }

  .availableAccommodation .pricePerNight {
        margin-left: 20px;
     
      }

  .star-white{

        color:rgb(206, 201, 201)
      }

  .rating {

        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 50px;
        color: #0065fc;
        margin-left: 20px;

      }

  .viewMore {
        
        width: 100%;
        margin-left: 40px;
        text-decoration: none;
        font-weight: bold;
        color: black;
        padding-top: 1%;
        
      }


      /************** Section les plus populaires--> *****************/


  .mostPopular {

        height: auto;
        width: 30%;
        background-color: #f2f2f2;
        margin-left: 50px;
        
        border-radius: 25px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-left: 33px;
        padding-right: 39px;
        padding-bottom: 0px;
        padding-top: 0px;

       }

  .mostPopular img {

        width: 180px;
        height: 190px;
        float: left;
        padding: 5px;
        border-radius: 20px 0 0 20px;
        object-fit: cover;
        
      }

  .mostPopularHeading {

        padding-top: 40px;
        padding-bottom: 20px;
        padding-left: 25px;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
  .mostPopularHeading .fas {

        margin-right: 20px;
        font-size: 22px;
      }

  .popularHotelInfo {

        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: white;
        height: 200px;
        width: 92%;
        border-radius: 25px;
        margin-left: 20px;
        margin-right:10px;
        margin-bottom: 45px;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        -webkit-box-shadow: 1px 1px 25px rgb(214, 213, 213);
        box-shadow: 1px 1px 25px rgb(214, 213, 213);

      }
  .popularHotelInfo:hover {

        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
      }

  .popularHotelName {

        font-weight: bold;
        text-decoration: none;
        color: black;
        margin-left: 18px;
      }

  .popularInfo {

        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: -120px;
      }

  .popularInfo .popularPricePerNight {
        margin-left: 18px;
        margin-top: -10px;
      }
      
  .popularInfo .Popularrating {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 50px;
        color: #0065fc;
        padding-left: 18px;
        margin-bottom: -100px;
        margin-top: 70px;

      }
      
     /**** Section for Activités à Marseille *****/

  .activitySection {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 1600px;
        margin-bottom: 70px;
      }
  .titles {

        font-family: "Raleway", sans-serif;
        font-weight: bold;
        padding: 20px;
      }

      
     
  .columnImg {

        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;       
      }
      
      
  .lastHeading {

        font-family: "Raleway", sans-serif;
        font-size: 20px;
        padding: 30px;
      
        }

        /** Single Image **/

  .singleImg {

       background-color: white;
       width: 38%;
       height: 530px;
       border-radius: 20px;
       -webkit-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
       transition: all 0.2s ease-in-out;
      cursor: pointer;
      border: 1.5px solid #f2f2f2;
      -webkit-box-shadow: 1px 1px 20px rgb(214, 213, 213);
      box-shadow: 1px 1px 20px rgb(214, 213, 213);
      margin-left: 0px;
      margin-right: 50px;

          }
          
  .singleImg img {

      width: 100%;
      height: 470px;
      border-radius: 20px 20px 0 0;
      border: 1.5px solid #f2f2f2;
      border-left-width: 0px;
      border-right-width: 0px;
      border-top-width: 0px;
      object-fit: cover;
      
          }
          
  .singleImg a {

      text-decoration: none;
            
     }
          
  .singleImg:hover {

      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);

       }

          /** Column Images **/
          
  .columnImages {

     width: 380px;
     height: 240px;
     background-color: white;
     border-radius: 20px;
     -webkit-transition: all 0.2s ease-in-out;
     -o-transition: all 0.2s ease-in-out;
     transition: all 0.2s ease-in-out;
     cursor: pointer;
     margin-bottom: 50px;
     border: 1.5px solid #f2f2f2;
     border-top: none;
     -webkit-box-shadow: 1px 1px 20px rgb(214, 213, 213);
     box-shadow: 1px 1px 20px rgb(214, 213, 213);
     
           
          }
          
  .columnImages img {
       
          
    width: 100%;
    height: 202px;
    border-radius: 20px 20px 0 0;
    border: 1.5px solid #f2f2f2;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    object-fit: cover;
          
  }
          
  .columnImages:hover {

    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
          }
          
  .columnImages a {

    text-decoration: none;
            
          }

  /** Single Image 02 **/


  .singleImg2 {

    background-color: white;
    width: 38%;
    height: 530px;
    border-radius: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    
    border: 1.5px solid #f2f2f2;
    border-top: none;
    -webkit-box-shadow: 1px 1px 20px rgb(214, 213, 213);
    box-shadow: 1px 1px 20px rgb(214, 213, 213);

    margin-left: 50px;
    margin-right: 50px;
            
  }
          
  .singleImg2 img {

    width: 100%;
    height: 470px;
    border-radius: 20px 20px 0 0;
    border: 1.5px solid #f2f2f2;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    margin-bottom: 10px;
    object-fit: cover;
          
  }
          
  .singleImg2:hover {

    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

  }
          
  .singleImg2 a {

    text-decoration: none;
           
  }
          
        /**** Footer Section ****/
        
  footer {
        
    background-color: #f2f2f2;
    height: auto;
    padding-bottom: 20px;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 1750px;
    margin: auto;
          }
          
  
  h3 .footerTitle {

    font-size: initial;
  }
          
  footer ul {

    list-style-type: none;
    margin-left: -40px;
    
  }

  footer ul li {

    margin-bottom: 10px;

    }
          
  footer a {

    text-decoration: none;
    color: black;
  }
          
  footer div {

    margin-left: -260px;
    
    }
          