/*----general-------------------------*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

header, section {
  margin: 15px 30px 15px 30px;
} 

a {
  text-decoration: none;
  color: black;
}

img {
  object-fit: cover;
}

/*---header-------------------------------------*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 150px;
}

nav a {
  color: #000;
  padding: 25px 30px;
  text-align: center;
  font-size: 1.3rem;
}

nav a:hover {
  color: #0065FC;
  border-top: solid 4px #0065FC;
}

.inscrire {
  font-size: 1.3rem;
  color: #0065FC;
  font-weight: 600;
  padding: 25px 20px 25px 20px;
  align-items: center;
}

.inscrire a:hover {
  color: #0065FC;
  border-top: solid 4px #0065FC;
}

/*---------@media/header----------------*/

@media screen and (min-width: 320px) and (max-width: 600px) {
  header {
      position: relative;
  }

  header, section {
      margin: 0;
  }

  header img {
      width: 100px;
  }
  
  nav {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr 1fr;
      width: 100%;
      margin-top: 20px;
  }

  nav a {
      padding: 0;
      align-self: center;
      font-size: 17px;
  }

  nav a:hover {
      border-top: none;
  }

  .nav-hebergement:hover, .nav-activite:hover {
      border-bottom: solid 3px #0065FC;
  }

  .header-logo {
      position: absolute;
      top: 0;
      padding-left: 15px;
      margin-top: 31px;
  }

  .nav-hebergement {
      grid-column: 1;
      grid-row: 2;
      padding-top: 15px;
      padding-bottom: 25px;
      border-bottom: solid 3px #f2f2f2;
  }

  .nav-activite {
      grid-column: 2;
      grid-row: 2;
      padding-top: 15px;
      padding-bottom: 25px;
      border-bottom: solid 3px #f2f2f2;
  }

  .inscrire {
      grid-column: 2;
      grid-row: 1;
      text-align: end;
      padding-right: 15px;
      font-size: 17px;
  }
}

@media screen and (min-width: 601px) and (max-width: 810px) {
  header {
      display: block;
  }

  nav {
      display: flex;
      justify-content: space-around;
  }
}

/*---main/section-trouver-------------------------------------*/

.trouver {
  margin: 30px 30px;
}

.recherche {
  display: flex;
  align-items: center;
}

.recherche i.fas.fa-map-marker-alt {
  background-color: #f2f2f2;
  font-size: 1.2rem;
  border-radius: 30% 0 0 30%;
  padding: 20px;
  height: 3.3em;
}

.recherche input {
  border: solid 1px #f2f2f2;
  padding: 0 15px 0 15px;
  font-size: 1.2rem;
  height: 3.3em;
}

.recherche button {
  background-color: #0065FC;
  border-radius: 0 15px 15px 0;
  color: white;
  font-size: 1.2rem;
  padding: 10px 30px 10px 30px;
  margin: 10px 0 10px 0;
  border: none;
  height: 3.3em;
}

.filtres {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 1.2rem;
  align-items: center;
}

.filtres :hover {
  background-color: #F2F2F2;
}

.filtres button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 4px #F2F2F2;
  background-color: #fff;
  border-radius: 40px;
  margin-left: 20px;
  padding-right: 20px;
  font-size: 1rem;
  font-weight: bold;
  height: 50px;
}

i.fas.fa-search {
  display: none;
}

button i {
  background-color: #DEEBFF;
  padding: 15px;
  border-radius: 40px;
  color: #0065FC;
  margin-right: 10px;
  margin-left: -10px;
  border: none;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info i {
  margin: 0 10px 0 5px;
  align-items: center;
  color: #0065FC;
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
  border: solid 1px lightgray;
}

.info p {
  font-weight: 400;
}

/*------@media/trouver--------------------*/
@media screen and (min-width: 320px) and (max-width: 600px) {
  
 section.trouver {
     margin: 30px 20px;
  }

  h1 {
      font-size: 20px;
  }

  section.trouver p {
      font-size: 15px;
  }

  .search span {
      display: none;
  }
  
  i.fas.fa-search {
      display: flex;
      color: white;
      background-color: #0065FC;
      margin: 0;
  }

  .recherche input {
      padding-right: 0;
      max-width: 230px;
  }
  
  button.search {
      border-radius: 15px 15px 15px 15px;
      color: white;
      font-size: 1.2rem;
      padding: 5px;
      margin: -10px;
  }

  .filtres h4 {
      width: 100%;
      margin: 0 0 20px 0;
  }

  .filtres button {
      margin-left: 0;
      margin-bottom: 20px;
      font-size: 16px;
  }

  button.famille {
      margin-left: 10px;
  }

  .info p {
      margin: 0;
  }
}

/*---main/section-hebergement/hebergement1-------------------------------------*/

.container {
  display: flex;
}

.hebergement1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 25px;
  width: 72%;
  margin-right: 30px;
}

.hebergement1 h2 {
  width: 100%;
  margin: 0;
  padding: 30px 30px 20px 30px;
}

.descriptifcarte h4 {
  font-size: 14px;
  font-weight: 700;
  margin: 10px 0 5px 10px ;
}

div.star {
  margin-left: 10px;
  margin-bottom: 5px;
}

div.star i {
  font-size: 12px;
  font-weight: 700;
  margin-right: -3px;
}

.descriptifcarte p {
  font-size: 14px;
  font-weight: 400;
  margin: 5px 0 0 10px ;
}

.hebergement1 a {
  width: 27%;
  margin: 15px;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 #525151;
}

.hebergement1 a:hover {
  background-color: #DEEBFF;
}

div.carte {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

div.carte img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 105px;
}

.afficher {
  width: 100%;
  margin: 0 0 10px 40px;
}

/*-------@media/hebergement1---------------------------*/
@media screen and (min-width: 320px) and (max-width: 600px) {
  #hebergement {
      margin-top: 50px;
      margin-bottom: 30px;
      flex-direction: column-reverse;
  }

  .hebergement1 {
      width: 100%;
      background-color: white;
  }

  .hebergement1 a {
      width: 80%;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  #hebergement {
      flex-direction: column-reverse;
  }

  .hebergement1 {
      width: 100%;
  }

  .hebergement1 a {
      width: 40%;
  }
}

/*---main/section-hebergement/aside-------------------------------------*/

.hebergementpopulaire {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 34%;
  background-color: #F2F2F2;
  border-radius: 22px;
}

.cartepop:hover {
  background-color: #DEEBFF;
}

.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 30px 30px 20px 30px;
}

.title h2 {
  margin: 0;
}

.title i {
  font-size: 1.2rem;
}

div.cartepop {
  display: flex;
  align-items: center;
  height: 140px;
  border-radius: 20px;
  margin: 0 35px 30px 35px;
  padding: 5px;
  box-shadow: 0 0 10px 0 #525151;
}

div.imghotel {
  width: 40%;
  height: 100%;
}

div.imghotel img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.star  {
  color: #0065FC;
}

.star span {
  color: lightgrey;
}

div.descriptifpop h4 {
  font-size: 14px;
  margin: 0 10px 5px 10px;
}

div.descriptifpop p {
  font-size: 13px;
  margin: 5px 0 20px 10px;
}

/*-------@media/hebergement1---------------------------*/
@media screen and (min-width: 320px) and (max-width: 600px) {
  .hebergementpopulaire {
      width: 100%;
      border-radius: 0;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .hebergementpopulaire {
      width: 100%;
      margin-bottom: 30px;
  }
}

/*-----Activités---------------------------------------*/
.activites1  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  gap: 30px;
  margin-bottom: 50px;
}

.activites1 h2 {
  width: 100%;
  margin: 30px 0 0 30px;
}

.site1 h4 {
  padding: 15px 0 15px 15px;
  margin: auto;
}

.site2 h4 {
  padding: 15px 0 30px 15px;
  margin: auto;
}

.site1 {
  border-radius: 25px;
  box-shadow: 0 0 10px 0 grey;
  height: 470px;
  width: 22%;
}

.site1 img {
  object-fit: cover;
  width: 100%;
  height: 420px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.site2 {
  width: 22%;
}

.site2 div{
  border-radius: 25px;
  box-shadow: 0 0 10px 0 grey;
  height: 220px;
}

.site2 img {
  object-fit: cover;
  width: 100%;
  height: 170px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.haut {
  margin-bottom: 30px;
}

.site1:hover, .haut:hover, .bas:hover {
  box-shadow: 0 0 20px 0 grey;
}

/*--------------@MEDIA/ACTIVITE------------------------------------*/
@media screen and (min-width: 900px) and (max-width: 1100px) {
  .site1 h4, .site2 h4 {
      font-size: 13px;
  }
}

@media screen and (min-width: 320px) and (max-width: 900px) {
  .site1, .site2 {
      width: 90%;
  }

  .site1 {
      height: 220px;
  }

  .site1 img {
      height: 170px;
  }

}

/*----------------FOOTER-----------------------------------------*/
footer {
  background-color: #F2F2F2;
  padding: 40px 0 40px 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

footer p {
  font-size: 1.1rem;
}

.apropos {
  grid-column-start: 1;
}

.noshebergements {
  grid-column-start: 3;
}

.assistance {
  grid-column-start: 5;
}

/*--------------@MEDIA/FOOTER------------------------------------*/
@media screen and (min-width: 320px) and (max-width: 750px) {
  footer {
      display: flex;
      flex-direction: column;
  }

  footer p, footer h2 {
      margin-bottom: 25px;
  }

  footer div {
      margin-bottom: 30px;
  }

  footer p {
      font-size: 1.2rem;
  }
}
